<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <% if (is_home()) { %>
      <%= config.title %><% if (config.subtitle) { %> - <%= config.subtitle %><% } %>
    <% } else if (is_post()) { %>
      <%= page.title %> - <%= config.title %>
    <% } else if (is_archive()) { %>
      归档 - <%= config.title %>
    <% } else if (is_tag()) { %>
      标签：<%= page.tag %> - <%= config.title %>
    <% } else if (is_category()) { %>
      分类：<%= page.category %> - <%= config.title %>
    <% } else { %>
      <%= page.title %> - <%= config.title %>
    <% } %>
  </title>
  <% if (config.description) { %>
    <meta name="description" content="<%= is_post() ? strip_html(page.excerpt || page.content).substring(0, 160) : config.description %>">
  <% } %>
  <%- open_graph({image: page.cover || theme.logo}) %>
  <% if (theme.favicon) { %>
    <link rel="icon" type="image/svg+xml" href="<%- url_for(theme.favicon) %>">
  <% } %>
  <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for('/atom.xml') %>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Noto+Serif+SC:wght@400;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
  <%- css('css/style.css?v=2') %>
  <%- css('css/highlight.css?v=2') %>
  <%- css('css/lightbox.css') %>
  <% if (theme.math && theme.math.enable !== false) { %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" crossorigin="anonymous">
  <% } %>
  <% if (is_post()) { %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "<%= page.title %>",
    "datePublished": "<%= date_xml(page.date) %>",
    "dateModified": "<%= date_xml(page.updated || page.date) %>",
    "author": {
      "@type": "Person",
      "name": "<%= page.author || config.author %>"
    },
    "publisher": {
      "@type": "Organization",
      "name": "<%= config.title %>"
    },
    "description": "<%= strip_html(page.excerpt || page.content).substring(0, 160) %>",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "<%= (config.url || '') + '/' + page.path %>"
    }
  }
  </script>
  <% } else if (is_home()) { %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "<%= config.title %>",
    "url": "<%= config.url %>",
    "description": "<%= config.description %>"
  }
  </script>
  <% } %>
  <script>
    (function() {
      var saved = localStorage.getItem('ink-theme');
      if (saved) {
        document.documentElement.setAttribute('data-theme', saved);
      } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-theme', 'dark');
      }
    })();
  </script>
  <% if (theme.custom_css && theme.custom_css.length) { %>
    <% theme.custom_css.forEach(function(css_path) { %>
      <link rel="stylesheet" href="<%- url_for(css_path) %>">
    <% }) %>
  <% } %>
</head>
