<div class="archive-page">
  <div class="archive-list">
    <% var currentYear = ''; %>
    <% page.posts.sort('date', -1).each(function(post) { %>
      <% var year = date(post.date, 'YYYY'); %>
      <% if (year !== currentYear) { %>
        <% currentYear = year; %>
        <h2 class="archive-year"><%= year %></h2>
      <% } %>
      <article class="archive-item">
        <time class="archive-date" datetime="<%= date_xml(post.date) %>">
          <%= date(post.date, 'MM-DD') %>
        </time>
        <a href="<%- url_for(post.path) %>" class="archive-link">
          <span class="archive-title"><%= post.title %></span>
        </a>
        <% if (post.categories && post.categories.length) { %>
          <span class="archive-category">
            <% if (typeof post.categories.toArray === 'function') { %>
              <% post.categories.forEach(function(cat, i) { %>
                <a href="<%- url_for(cat.path) %>"><%= cat.name %></a><%= i < post.categories.length - 1 ? ', ' : '' %>
              <% }) %>
            <% } else { %>
              <a href="<%- url_for('/categories/' + post.categories + '/') %>"><%= post.categories %></a>
            <% } %>
          </span>
        <% } %>
      </article>
    <% }) %>
  </div>
  <% if (page.total && page.total > 1) { %>
    <%- partial('_partial/pagination') %>
  <% } %>
</div>
