<div class="page-tag">
  <% if (page.tag) { %>
  <h1 class="page-title">标签：<%= page.tag %></h1>
  <% } else { %>
  <h1 class="page-title">标签</h1>
  <% } %>

  <ul class="tag-post-list">
    <% (page.posts || []).each(function(post) { %>
    <li>
      <time datetime="<%= date_xml(post.date) %>">
        <%= date(post.date, 'YYYY-MM-DD') %>
      </time>
      <a href="<%= url_for(post.path) %>"><%= post.title %></a>
    </li>
    <% }); %>
  </ul>
</div>